



h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    text-align: center;

}

/* A specified standard serif web font for text (such as Georgia, Times). */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* Specified different font colors for all three font uses. */

    /* A background color for the default page background (make sure font colors have good contrast and are readable on this background). */

    background-color: beige;
    height: 300vh;


    




}

/* .salmonIntro {
    margin-top: 200px;

} */



header {
    position: sticky;
    width: 100%;
}


article {
    display: flex;
    justify-content: center;
    
}

article{
    margin: 20px 20px ;
}

img {
    max-width: 300px;
}
 #about-us {
    text-align: center;
    margin: 20px 20px;
}

ul {
    list-style-type: none;
    
}

li {
    display: inline-block;

}

ul {

    display: flex;
    justify-content: space-around;
        /* /* box-sizing: border-box; */
    border-radius: 1rem;
    border: 2px solid black;
}

footer {
    position: fixed;
    width: 100%;
    
}




